
.inputContainer{
  text-align: center;
}

.userInput{
  font-size: 20px;
  color: #525464;
  width: 100px;
  text-align: center;
}

.displayUserInput{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.result{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.errorMessaging{
  text-align: center;
  color: red;
  font-size: 25px;
}